.background{
        background-image: url(/banner.png);
        background-position:right;
        background-size: 70%;
        background-repeat: no-repeat;
        border-radius: 10px;
        margin: 20px;
}

header{
    background: 
    linear-gradient(132deg, rgba(0, 0, 0, 0.87) 81%,rgba(28, 69, 190, 1) 100%),
    linear-gradient(213deg, rgba(0, 0, 0, 0) 81%,rgba(28, 69, 190, 1) 100%);

    display: flex;
    flex-direction: row;
    justify-content: space-between;
    padding: 0 50px;
    border: 1px solid var(--color-background);
    border-radius: 10px;

}

.header-assets{
    display: flex;
    flex-direction: column;
    justify-content: start;
    width: 30%;
    gap: 5px;
}

.header-title{
    color: var(--color-primaria);
    margin-bottom: 0;
    font-size: 60px;
}

.header-title span{
    color: var(--color-secundaria);
}

.header-paragraph{
    color: var(--color-terciaria);
    width: 70%;
    font-size: 20px;

}

.header-btn{
    width: 150px;
    background-color: var(--color-secundaria);    
    color: var(--color-primaria);
    border: 1px solid var(--color-secundaria);
    border-radius: 10px;
    padding: 10px;
    margin-bottom: 22px;
}

.header-image img{
    width: 300px;
}