.generos {  
  display: flex;
  flex-direction: column;
  padding: 48px 160px;
}

.jogos-genero {
  width: 100%;
  display: flex;
  flex-wrap: wrap;
  justify-content:center;
}

.linha-destaque {
  width: 32px;
}

.genero-titulo {
  font-family: var(--font-prata);
  font-size: 28px;
  font-weight: var(--font-weight-normal);
  line-height: 38px;
  text-align: center;
}

.texto-sem-jogos img {
  width: 350px;
  height: 300px;
  margin-top: 8px;
  object-fit: cover;
  border-radius: 50%;
}

.texto-sem-jogos {
  text-align: center;
  margin-top: 16px;
  color: #9b0505;
  font-size: 20px;
}

.action-adventure {
  background-color: lab(69.7% -67.44 53.55 / 0.781);
}

.generos .action-adventure {
  border-bottom: 4px solid lab(69.7% -67.44 53.55);
}

.hack-slash {
  background-color: #ff0000c9;
}

.generos .hack-slash {
  border-bottom: 4px solid #ff0000;
}

.fighting {
  background-color: #ff9100d3;
}

.generos .fighting {
  border-bottom: 4px solid #ff9100;
}

.racing {
  background-color: #00e1ff9f;
}

.generos .racing {
  border-bottom: 4px solid #00defc;
}

.rpg {
  background-color: #6929ffcb;
}

.generos .rpg {
  border-bottom: 4px solid #6929ff;
}

.sports {
  background-color: #aeb4aea4;
}

.generos .sports {
  border-bottom: 4px solid #aeb4ae;
}

.survival-horror {
  background-color: #000000ec;
}

.generos .survival-horror {
  border-bottom: 4px solid #000000;
}

.fps {
  background-color: #ffc629d8;
}

.generos .fps {
  border-bottom: 4px solid #ffc629;
}


