.generos {  
  display: flex;
  flex-direction: column;
  padding: 0 50px;
  background-color: var(--color-background);
  margin: 20px;
  border-radius: 5px;
}

.jogos-genero {
  width: 100%;
  display: flex;
  flex-wrap: wrap;
  justify-content:center;
}

.genero-titulo {
  font-family: var(--font-prata);
  font-size: 28px;
  font-weight: var(--font-weight-normal);
  line-height: 38px;
  text-align: left;
  color: var(--color-primaria);
  margin-bottom: 0;
}

.texto-sem-jogos img {
  width: 350px;
  height: 300px;
  margin-top: 8px;
  object-fit: cover;
  border-radius: 50%;
}

.texto-sem-jogos {
  text-align: center;
  margin-top: 16px;
  color: #9b0505;
  font-size: 20px;
}




