.generos {  
  display: flex;
  flex-direction: column;
  padding: 48px 160px;
}

.jogos-genero {
  width: 100%;
  display: flex;
  flex-wrap: wrap;
  justify-content:center;
}

.linha-destaque--linha-pequena {
  width: 32px;
}

.genero-titulo {
  font-family: var(--font-prata);
  font-size: 28px;
  font-weight: var(--font-weight-normal);
  line-height: 38px;
  text-align: center;
}

.texto-sem-jogos img {
  width: 350px;
  height: 300px;
  margin-top: 8px;
  object-fit: cover;
  border-radius: 50%; /* deixa redondo */
}

.texto-sem-jogos {
  text-align: center;
  margin-top: 16px;
  color: #9b0505;
  font-size: 20px;
}
